$color1: #f2e4e4;


.title {
  text-align: center;
  padding-top: 10%;
  font-family: 'Caveat', cursive;
}

body {
  background-color: $color1;
  font-family: 'Caveat', cursive;

}

.todoListMain {
  padding: 0% 20% 0% 20%;
}

.theList {

}
