$color1: #7FDBFF;
$color2: white;

html {
  background-color: $color1;
}

.title {
  text-align: center;
  padding-top: 10%;
  font-family: 'Quicksand', sans-serif;
  font-size: 3em;
}

body {
  background-color: $color2;
  font-family: 'Quicksand', sans-serif;
  border: solid;
  border-radius: 5px;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  max-width: 800px;
}

.App {
  background-color: $color2;
}

.todoListMain {
  padding: 0% 20% 0% 20%;
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

form {
  margin-left: 25%;
  margin-right: 25%;
}

.input {
  background-color: #e4f4f7;
  min-height: 33px;
  border: solid;
  border-radius: 5px;
  align-items: center;
  display: inline;
  margin-right: 5px;
  width: 140%;
}

.theList {
  background-color: #e4f4f7;
  align-items: center;
  text-align: center;
  font-size: 2em;
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  border: solid;
  border-radius: 5px;
  padding-right: 40px; //fixes weird glitch were left-padding was randomly set to 40px
}

li:hover {
  cursor: pointer;
  text-decoration: line-through;
}

ul:empty::after {
  content: "Nice work! You completed all your tasks!";
}

#time-date {
    text-align: center;
    align-items: stretch;
    font-size: 25px;
    text-transform: uppercase;
    position:absolute;
    top: 0px;
    background-color: white;
    padding: 7px;
    margin: 40px 13%;
    border: solid;
    border-radius: 5px;
    display: inline-block;
}

//media queries (refactor later with Bootstrap)

//mobile
@media (min-width: 320px) and (max-width:415px){
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
  .theList {
    font-size: 1.5em;
    margin-left: 10%;
    margin-right: 10%;
  }
  .todoListMain {
    padding-left: 40px;
  }
  .input{
    margin-left: -40px;
    width: 200%;
    padding-left:5px;
  }
  button{
    margin-top: 5px;
    margin-left: -10px;
    width: 150%;
  }
  #time-date {
      text-align: center;
      align-items: center;
      font-size: 20px;
      text-transform: uppercase;
      position: relative;
      background-color: none;
      padding-left: 20px;
      margin: 0;
      border: none;
      border-radius: none;
      display: inline-block;
  }
}

// ipad
@media screen and (min-width: 768px) and (max-width: 770px){
  body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 200px;
  }
  .theList {
    font-size: 2em;
    margin-left: 10%;
    margin-right: 10%;
  }
  .todoListMain {
    padding-left: 150px;
  }
  .input{
    margin-left: -100px;
    width: 200%;
    padding-left:5px;
  }
  button{
    margin-top: 5px;
    margin-left: 20px;
  }
  #time-date {
      text-align: center;
      align-items: stretch;
      font-size: 30px;
      text-transform: uppercase;
      position:absolute;
      top: 0px;
      background-color: white;
      padding: 8px;
      margin: 40px 10%;
      border-bottom: 50px;
      border: solid;
      border-radius: 5px;
      display: inline-block;
  }
}

// only for ipad Pro
@media screen and (width:1024px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 200px;
  }
  .theList {
    font-size: 2em;
    margin-left: 10%;
    margin-right: 10%;
  }
  .todoListMain {
    padding-left: 230px;
  }
  .input{
    margin-left: -110px;
    width: 180%;
    padding-left:5px;
  }
  button{
    margin-top: 5px;
    margin-left: 15px;
  }
  #time-date {
      margin: 40px 10%;
      font-size: 40px;
  }
}

//desktop
@media screen and (min-width: 1025px) and (max-width: 1800px) {
    .input {
      margin-left: -55px;
      width: 140%;
    }
    .todoListMain {
      padding: 0% 20% 0% 20%;
    }
    button{
      margin-top: 5px;
      margin-left: 60px;
    }
}
