$color1: #7FDBFF;
$color2: white;

html {
  background-color: $color1;
}

.title {
  text-align: center;
  padding-top: 10%;
  font-family: 'Caveat', cursive;
  font-size: 3em;
}

body {
  background-color: $color2;
  font-family: 'Caveat', cursive;
  border: solid;
  border-radius: 5px;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  max-width: 800px;
}

.App {
  background-color: $color2;
}

.todoListMain {
  padding: 0% 20% 0% 20%;
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

form {
  margin-left: 25%;
  margin-right: 25%;
}

.input {
  background-color: #e4f4f7;
  min-height: 33px;
  border: solid;
  border-radius: 5px;
  align-items: center;
  display: inline;
}

.theList {
  background-color: #e4f4f7;
  align-items: center;
  text-align: center;
  font-size: 2em;
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
  border: solid;
  border-radius: 5px;
  padding-right: 40px; //fixes weird glitch were left-padding was randomly set to 40px
}

li:hover {
  cursor: pointer;
  text-decoration: line-through;
}

ul:empty::after {
  content: "Nice work! You completed all your tasks!";
}
